[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icons" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-slogan:before {
  content: "\e90c";
}
.icon-group:before {
  content: "\e905";
}
.icon-left-arrowhead:before {
  content: "\e900";
}
.icon-arrow-right:before {
  content: "\e901";
}
.icon-book:before {
  content: "\e902";
}
.icon-calc:before {
  content: "\e903";
}
.icon-criss-cross:before {
  content: "\e904";
}
.icon-cyrcle-white:before {
  content: "\e906";
}
.icon-down-arrowhead:before {
  content: "\e907";
}
.icon-exit:before {
  content: "\e908";
}
.icon-facebook:before {
  content: "\e909";
}
.icon-geotag:before {
  content: "\e90a";
}
.icon-geotag-grey:before {
  content: "\e90b";
}
.icon-left-arrowhead-blue:before {
  content: "\e90f";
}
.icon-linkedin:before {
  content: "\e910";
}
.icon-plus:before {
  content: "\e911";
}
.icon-right-arrowhead:before {
  content: "\e912";
}
.icon-right-arrowhead-grey:before {
  content: "\e913";
}
.icon-select-arrow:before {
  content: "\e914";
}
.icon-send-request:before {
  content: "\e915";
}
.icon-size:before {
  content: "\e916";
}
.icon-twiter:before {
  content: "\e917";
}
