.contacts {
  width: 100%;
  position: relative;

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      position: absolute;
      object-fit: cover;
    }
    div {
      width: 100%;
      height: 100%;
      position: absolute;
      background: rgba(0, 0, 0, 0.95);
    }
  }

  &__conteiner {
    @include container;
    position: relative;
    top: 0;
    left: 0;
    padding-top: 119px;
    padding-bottom: 170px;
    z-index: 1;
    color: #ffffff;
    @media (max-width: 1024px) {
      padding-top: 104px;
    }
    @media (max-width: 768px) {
      padding-top: 88px;
      padding-bottom: 146px;
    }
    @media (max-width: 375px) {
      padding-top: 56px;
      padding-bottom: 131px;
    }
    .p1 {
      opacity: 0.6;
      color: #ffffff;
    }
  }

  &__vertical-contacts-box {
    @include vertical-h5(
      149px,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.06)
    );
    transform: rotate(-90deg) translate(-74.5px, -74.5px);
    z-index: 1;
  }

  &__main-box {
    width: 100%;
    height: 100%;
    padding: 0 9.97%;

    @media (max-width: 1024px) {
      padding: 0 10.06%;
    }
    @media (max-width: 678px) {
      padding: 0 9.9%;
    }
    @media (max-width: 425px) {
      padding: 0;
    }
  }

  &__title {
    margin: 0 0 24px;
  }

  &__subtitle {
    max-width: 390px;
    margin: 0 0 72px;
  }

  &__content {
    display: grid;
    grid-template: repeat(2, auto) / repeat(3, 133px) 1fr;
    gap: 72px 9.7%;
    @media (max-width: 1024px) {
      gap: 64px 9.7%;
    }
    @media (max-width: 768px) {
      grid-template: repeat(2, auto) / repeat(3, 133px);
      gap: 56px 9.7%;
    }
    @media (max-width: 600px) {
      grid-template: repeat(3, auto) / repeat(2, 133px);
    }
    @media (max-width: 375px) {
      gap: 40px 9.7%;
    }
  }

  &__city {
    margin: 0 0 24px;
    @media (max-width: 375px) {
      margin: 0 0 18px;
    }
  }

  &__email-box {
    width: max-content;
    justify-self: end;
    @media (max-width: 1000px) {
      grid-column: 3 / 4;
      justify-self: start;
    }
    @media (max-width: 600px) {
      grid-column: 1 / 2;
    }
  }

  &__email {
    width: max-content;
    margin: 0 0 23px;
    font-weight: 600;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.06em;
  }

  &__language-box {
    @include box-language;
  }

  &__button {
    @include button(#ffffff, #080808);

    @media (max-width: 1024px) {
      height: 42px;
    }
    @media (max-width: 1000px) {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
    }
    @media (max-width: 600px) {
      grid-row: 4 / 5;
    }
    @media (max-width: 375px) {
      margin-top: 8px;
    }
  }
}
