.email-section {
  position: relative;
  width: 100%;
  height: 814px;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #080808;
  overflow: hidden;

  @media (max-width: 1024px) {
    height: 790px;
  }
  @media (max-width: 678px) {
    height: 831px;
  }
  @media (max-width: 425px) {
    height: 675px;
  }

  &__content {
    margin: 0 44px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__email {
    margin: 0 0 18px;
    font-size: 56px;
    line-height: 68px;
    text-align: center;
    @media (max-width: 1024px) {
      margin: 0 0 21px;
      font-size: 48px;
      line-height: 59px;
    }
    @media (max-width: 678px) {
      margin: 0 0 24px;
      font-size: 44px;
      line-height: 54px;
    }
    @media (max-width: 425px) {
      margin: 0 0 16px;
      font-size: 32px;
      line-height: 39px;
    }
  }

  &__text {
    max-width: 390px;
    margin: 0 auto;
    text-align: center;
    opacity: 0.6;
  }

  & > a {
    position: absolute;
    right: 100%;
    top: 100%;
    width: 348px;
    height: 231px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
#email-section-foto8 {
  max-width: 271px;
  max-height: 180px;
  width: 18.82vw;
  height: 12.5vw;
  right: 7.71%;
  top: 7.62%;
  @media (max-width: 768px) {
    width: 27.86vw;
    height: 18.49vw;
    left: calc(109.62% - 27.86vw);
    top: 15.98%;
  }
  @media (max-width: 425px) {
    display: none;
  }
}
#email-section-foto3 {
  max-width: 348px;
  max-height: 231px;
  width: 24.17vw;
  height: 16.04vw;
  left: 53.68%;
  top: calc(10.68% - 16.04vw);
  @media (max-width: 768px) {
    width: 35.68vw;
    height: 23.4375vw;
  }
  @media (max-width: 425px) {
    width: 45.87vw;
    height: 30.4vw;
    left: calc(124.68% - 45.87vw);
    top: 16.59%;
  }
}
#email-section-foto1 {
  max-width: 402px;
  max-height: 282px;
  width: 27.92vw;
  height: 19.58vw;
  right: calc(21.875% - 27.92vw);
  top: 52.58%;
  @media (max-width: 768px) {
    width: 41.28vw;
    height: 28.91vw;
    left: calc(132.62% - 41.28vw);
    top: 57.88%;
  }
  @media (max-width: 425px) {
    width: 53.07vw;
    height: 37.07vw;
    left: calc(137.14% - 53.07vw);
    top: 61.19%;
  }
}
#email-section-foto5 {
  max-width: 214px;
  max-height: 142px;
  width: 14.86vw;
  height: 9.86vw;
  left: 53.68%;
  top: calc(105.77% - 9.86vw);
  @media (max-width: 425px) {
    width: 28.27vw;
    height: 18.67vw;
    left: 61.6%;
    top: calc(101.84% - 18.67vw);
  }
}
#email-section-foto4 {
  max-width: 285px;
  max-height: 189px;
  width: 19.79vw;
  height: 13.125vw;
  left: 19.31%;
  top: 69.29%;
  @media (max-width: 1024px) {
    width: 23.54vw;
    height: 15.53vw;
    left: 5.65%;
    top: 68.23%;
  }
}
#email-section-foto6 {
  max-width: 271px;
  max-height: 180px;
  width: 18.82vw;
  height: 12.5vw;
  right: calc(108.82% - 18.82vw);
  top: calc(111.06% - 12.5vw);
  @media (max-width: 1024px) {
    display: none;
  }
  @media (max-width: 425px) {
    display: block;
    width: 38.93vw;
    height: 32.8vw;
    left: calc(15.73% - 38.93vw);
    top: 71.56%;
  }
}
#email-section-foto7 {
  display: block;
  max-width: 348px;
  max-height: 231px;
  width: 24.17vw;
  height: 16.04vw;
  right: calc(109.79% - 24.17vw);
  top: 22.6%;
  @media (max-width: 1024px) {
    width: 28.71vw;
    height: 19.04vw;
    right: calc(123.14% - 28.71vw);
    top: 27.6%;
  }
  @media (max-width: 768px) {
    width: 32.42vw;
    height: 21.61vw;
    right: calc(121.14% - 32.42vw);
    top: 23.95%;
  }
  @media (max-width: 425px) {
    width: 41.6vw;
    height: 27.73vw;
    left: calc(23.73% - 41.6vw);
    top: 14.67%;
  }
}
#email-section-foto2 {
  max-width: 271px;
  max-height: 180px;
  width: 18.82vw;
  height: 12.5vw;
  left: 10%;
  top: 7.62%;
  @media (max-width: 1024px) {
    left: 0.39%;
    top: 14.43%;
  }
  @media (max-width: 768px) {
    width: 25.26vw;
    height: 16.8vw;
    left: 5.21%;
    top: 13.48%;
  }
  @media (max-width: 425px) {
    width: 32.53vw;
    height: 21.6vw;
    left: 14.13%;
    top: 5.48%;
  }
}
