.example-box {
  width: 100%;
  height: 724px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  @media (max-width: 1024px) {
    height: 623px;
  }
  @media (max-width: 678px) {
    height: 571px;
  }
  @media (max-width: 375px) {
    height: 486px;
  }

  &__conteiner {
    width: 100%;
    height: min-content;
    display: grid;
    grid-template: repeat(2, auto) / 1fr 79.73% 1fr;
    row-gap: 25px;
    @media (max-width: 1024px) {
      grid-template: repeat(2, auto) / 1fr 455px 1fr;
    }
    @media (max-width: 600px) {
      grid-template: repeat(2, auto) / 1fr auto 1fr;
    }
  }

  &__vertical-request-box {
    @include vertical-h5(
      161px,
      rgba(255, 255, 255, 0.13),
      rgba(255, 255, 255, 0.04)
    );
    transform: rotate(-90deg) translate(-80.5px, -80.5px);
    grid-row: 1/3;
    margin-right: -140px;

    @media (max-width: 600px) {
      display: none;
    }
  }

  &__excerpt {
    width: 424px;
    font-size: 36px;
    line-height: 141.67%;
    justify-self: start;
    z-index: 1;
    @media (max-width: 1024px) {
      justify-self: center;
      font-size: 32px;
      text-align: center;
    }
    @media (max-width: 600px) {
      width: auto;
      grid-column: 2;
      font-size: 26px;
      text-align: start;
    }
  }

  &__content {
    width: 339px;
    grid-column: 2/3;
    justify-self: end;
    z-index: 1;
    .p1 {
      color: #ffffff;
      @media (max-width: 1024px) {
        text-align: center;
      }
      @media (max-width: 600px) {
        text-align: start;
      }
    }
    @media (max-width: 1024px) {
      justify-self: center;
    }
    @media (max-width: 600px) {
      width: auto;
    }
    @media (max-width: 360px) {
      margin-bottom: 70px;
    }
  }

  &__button {
    @include button(#ffffff, #080808);
    z-index: 2;
    margin-top: 41px;

    @media (max-width: 1024px) {
      height: 42px;
      margin: 64px auto 0;
    }
    @media (max-width: 768px) {
      margin-top: 48px;
    }
  }

  &__example-project {
    @include example-project;
  }
}
