h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 122%;
  @media (max-width: 1024px) {
    font-size: 32px;
    line-height: 121.875%;
  }
  @media (max-width: 375px) {
    font-size: 26px;
  }
}

h3 {
  font-size: 22px;
  line-height: 127.27%;
  @media (max-width: 1024px) {
    font-size: 20px;
    line-height: 125%;
  }
}
h4 {
  font-size: 16px;
  line-height: 137.5%;
}
h6 {
  font-weight: 300;
  font-size: 11px;
  line-height: 17.7px;
  letter-spacing: 0.06em;
}

.p1 {
  font-weight: 300;
  font-size: 14px;
  line-height: 171.43%;
  color: #080808;
}
