.conteiner {
  width: 100%;
  padding: 44px 8.75%;
  @media (max-width: 1024px) {
    padding: 44px 6.44%;
  }
  @media (max-width: 768px) {
    padding: 44px 10.04%;
  }
  @media (max-width: 587px) {
    padding: 40px 6.4%;
  }
}

.popup {
  //  display: none; //!!!!
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(8, 8, 8, 0.96);
  top: 0;
  left: 0;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 51;
  visibility: hidden;
  opacity: 0;
  transition: all 0.8s ease 0s;

  &.open {
    visibility: visible;
    opacity: 1;
    .popup__body {
      opacity: 1;
      transition: all 0.8s ease 0s;
      transform: perspective(600px) translate(0px, 0px) rotateX(0deg);
    }
  }

  &__body {
    // width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 1.25%;
    font-weight: 600;
    font-size: 11px;
    line-height: 118.18%;
    letter-spacing: 0.06em;
    color: #313131;
    opacity: 0;
    transition: all 0.8s ease 0s;
    transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
    @media (max-width: 1024px) {
      padding: 0 0 1.46%;
    }
    @media (max-width: 768px) {
      padding: 46px 0;
    }
    @media (max-width: 587px) {
      padding: 64px 0;
    }
  }

  &__content {
    width: 72.64%;
    min-width: min-content;
    height: 100%;
    padding: 3.89% 8.54%;
    background: #f2f2f2;
    box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.04);
    @media (max-width: 1024px) {
      width: 78.91%;
      padding: 3.125% 4.98%;
    }
    @media (max-width: 768px) {
      width: 72.65625%;
      padding: 3.125% 5.21%;
    }
    @media (max-width: 587px) {
      width: 87.2%;
      padding: 0;
      background: rgba(8, 8, 8, 0.96);
    }
  }

  &__first-box {
    width: 100%;
    margin: 0 0 6px;
    border: 1px solid rgba(0, 0, 0, 0.04);
    background: #ffffff;
  }

  &__first-conteiner {
    h3 {
      width: max-content;
      margin: 0 auto 38px;
    }
    @media (max-width: 587px) {
      margin: -16px auto 38px;
    }
  }

  &__personal-data {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
    gap: 38px 4.5%;
    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }
    label {
      height: 23px;
      padding-bottom: 11px;
      border-bottom: 1px solid rgba(214, 214, 214, 0.3);

      display: grid;
      grid-template: 1fr / auto 1fr;
      gap: 10px;
      input {
        font-size: 11px;
      }
    }
  }

  &__name {
    &._error {
      border-bottom: solid 1px red;
    }
  }

  &__last-name {
    &._error {
    border-bottom: solid 1px red;
  }
}

  &__phone {
    &._error {
      border-bottom: solid 1px red;
    }
  }

  &__city {
    &._error {
      border-bottom: solid 1px red;
    }
  }

  &__email {
    &._error {
      border-bottom: solid 1px red;
    }
  }

  &__select-type {
    &._error {
      border-bottom: solid 1px red;
    }
  }

  &__select-option {
    font-size: 11px;
  }

  &__user-comment {
    grid-column: 1/3;
    display: grid;
    @media (max-width: 768px) {
      grid-column: 1/2;
    }
    textarea {
      height: 15px;
      resize: none;
      
    }
  }

  &__second-box {
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.04);
  }

  &__name-group-area {
    margin: 0 0 22px 0;
  }

  &__group-area {
    width: 100%;
    margin: 0 0 21px 0;
    display: grid;
    grid-template: auto/ repeat(7, 1fr) auto;
    @media (max-width: 768px) {
      grid-template: repeat(2, auto) / repeat(3, 1fr) 17px;
      row-gap: 30px;
    }
  }

  &__label {
    width: auto;
    height: 20px;
    grid-column: 1/3;
    justify-self: start;
    align-self: center;
    p {
      //margin: 0 0 0 -50%;
      left: calc(-50% + 6.5px);
      position: relative;

      @media (max-width: 1024px) {
        font-size: 9px;
      }
    }
  }

  &__option-item {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template: 1fr auto / auto 1fr;
    &:nth-child(8) .popup__line {
      display: none;
    }
    &:nth-child(1) .popup__label {
      p {
        position: static;
      }
    }

    &:nth-child(4) .popup__line {
      @media (max-width: 768px) {
        display: none;
      }
    }
    &:nth-child(4) .popup__label {
      @media (max-width: 768px) {
        margin-left: -10px;
        width: 48px;
      }
    }
    &:nth-child(5) .popup__label {
      p {
        @media (max-width: 768px) {
          position: static;
        }
      }
    }
  }

  &__radio-area {
    appearance: none;

    border-radius: 50%;
    width: 18px;
    height: 18px;
    background: #afb0b2;

    border: 7px solid #f7f7f6;
    transition: 0.2s all linear;

    box-shadow: inset 0px 0px 1px #ffffff;
    &:checked {
      background: #ffffff;

      border: 7px solid #1d1f26;
      transition: 0.2s all linear;

      box-shadow: 0px 0px 1px #ffffff, 0px 0 8px rgba(0, 0, 0, 0.06);
    }
  }

  &__line {
    width: 100%;
    height: 1px;
    border: 1px solid rgba(214, 214, 214, 0.3);
    justify-self: center;
    align-self: center;
  }

  &__group-photo {
    width: 100%;
    display: grid;
    grid-template: repeat(2, auto) / auto 1fr;
    row-gap: 10px;
    @media (max-width: 768px) {
      grid-template: repeat(3, auto) / 1fr;
    }
  }

  &__add-photo {
    display: flex;
    grid-column: 1/3;
    &._error {
      width: 50%;
      border-bottom: solid 1px red;
      @media (max-width: 768px) {
        width: 100%;
      }
    }
    input {
      width: 0;
      opacity: 0;
    }
    @media (max-width: 768px) {
      grid-column: 1/2;
    }
  }

  &__preview {
    li {
      height: 20px;
      display: flex;
      align-items: center;
      gap: 10px;
    }
    img {
      height: 100%;
    }
  }

  &__item-photo {
    align-self: center;
    display: flex;
    align-items: center;
    label {
      cursor: pointer;
    }
    @media (max-width: 768px) {
      justify-self: center;
    }
  }

  &__img-add-photo {
    position: relative;
    border-radius: 50%;
    width: 39px;
    height: 39px;
    background: #f7f7f6;
    border: 1px dashed rgba(58, 62, 75, 0.08);
    transition: 0.2s all linear;

    &::before {
      content: "";
      background-color: #3a3e4b;
      position: absolute;
      width: 9px;
      height: 1px;
      left: calc(50% - 4.5px);
      top: 50%;
    }
    &::after {
      content: "";
      background-color: #3a3e4b;
      position: absolute;
      width: 9px;
      height: 1px;
      left: calc(50% - 4.5px);
      top: 50%;
      transform: rotate(90deg);
    }
  }

  &__coment-photo {
    margin: 0 0 0 12px;
    p {
      &:nth-child(1) {
        font-weight: 600;
        font-size: 11px;
        line-height: 13px;
        letter-spacing: 0.06em;
        color: #3a3e4b;
      }
      &:nth-child(2) {
        font-weight: 500;
        font-size: 9px;
        line-height: 11px;
        letter-spacing: 0.06em;
        color: rgba(58, 62, 75, 0.45);
      }
    }
  }


  &__buttom {
    margin-top: 5px;
    justify-self: right;
    text-align: center;
    justify-content: center;
    letter-spacing: 0.06em;
    @include button(#3a3e4b, #ffffff, 0);
    @media (max-width: 768px) {
      justify-self: center;
    }
  }

  &__text {
    margin-top: 37px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 140%;
    text-align: center;
    letter-spacing: 0.06em;
    color: #afb0b2;

    @media (max-width: 1024px) {
      display: none;
    }
  }

  &__criss-cross {
    top: 40px;
    right: 40px;
    position: absolute;
    color: #ffffff;
    cursor: pointer;
    @media (max-width: 587px) {
      top: 24px;
      right: 24px;
    }
  }
}
@media (max-width: 330px){
  .conteiner {
      padding: 30px 5px;
    }
  }
  

// .form {
//   display: flex;
//   flex-direction: column;

//   &__container1,
//   &__container2 {
//       background: #ffffff;
//       width: 800px;
//   }

//   &__title {
//       font-weight: 700;
//       font-size: 22px;
//       line-height: 28px;
//       text-align: center;
//       color: $fourth_text_color;
//   }
//   &__title2 {
//       font-weight: 700;
//       font-size: 22px;
//       line-height: 28px;
//       text-align: center;
//       color: $fourth_text_color;
//       display: none;
//   }

//   &__container1 {
//       padding: 44px 70px;
//       &-wrapper {
//           margin-top: 38px;
//           display: flex;
//           justify-content: space-between;
//           flex-wrap: wrap;
//           gap: 23px 0;
//       }
//   }
//   &__container2 {
//       margin-top: 6px;
//       padding: 44px 56px 37px 70px;
//       &-wrapper {
//           display: flex;
//           flex-wrap: wrap;
//           justify-content: space-between;
//       }
//       &-fieldset {
//           margin-top: 45px;
//           width: 100%;
//           display: flex;
//           justify-content: space-between;
//           position: relative;
//           input {
//               appearance: none;
//               position: relative;
//               background: #afb0b2;
//               width: 18px;
//               height: 18px;
//               border-radius: 50%;
//               border: 7px solid #f7f7f6;
//               transition: 0.2s all linear;
//               z-index: 2;
//               &:checked {
//                   background: #ffffff;
//                   border: 7px solid #1d1f26;
//               }
//               &::before {
//                   position: absolute;
//                   width: 47px;
//                   left: 50%;
//                   transform: translateX(-50%);
//                   top: -31px;
//                   font-weight: 500;
//                   font-size: 9px;
//                   line-height: 11px;
//                   text-align: center;
//                   letter-spacing: 0.06em;
//                   color: rgba(58, 62, 75, 0.45);
//               }
//               &:nth-child(1) {
//                   &::before {
//                       content: 'to 50';
//                       left: -7px;
//                       text-align: left;
//                       transform: translateX(0);
//                   }
//               }
//               &:nth-child(2) {
//                   &::before {
//                       content: '50-150';
//                   }
//               }
//               &:nth-child(3) {
//                   &::before {
//                       content: '150-250';
//                   }
//               }
//               &:nth-child(4) {
//                   &::before {
//                       content: '250-400';
//                   }
//               }
//               &:nth-child(5) {
//                   &::before {
//                       content: '400-600';
//                   }
//               }
//               &:nth-child(6) {
//                   &::before {
//                       content: '600-800';
//                   }
//               }
//               &:nth-child(7) {
//                   &::before {
//                       content: '800-1000';
//                   }
//               }
//               &:nth-child(8) {
//                   &::before {
//                       content: '1000+';
//                       left: auto;
//                       right: -15px;
//                       transform: translateX(0);
//                   }
//               }
//           }
//       }
//   }
//   &__divider {
//       width: 100%;
//       height: 1px;
//       position: absolute;
//       top: 50%;
//       transform: translateY(-50%);
//       background: rgba(214, 214, 214, 0.3);
//       z-index: 1;
//   }
//   &__container3 {
//       margin-top: 6px;
//       padding: 44px 56px 37px 70px;
//       &-wrapper {
//           display: none;
//           width: 100%;
//           flex-wrap: wrap;
//           justify-content: space-between;
//       }
//       &-fieldset {
//           margin-top: 45px;
//           width: 100%;
//           display: flex;
//           justify-content: space-between;
//           position: relative;
//           input {
//               appearance: none;
//               position: relative;
//               background: #afb0b2;
//               width: 18px;
//               height: 18px;
//               border-radius: 50%;
//               border: 7px solid #f7f7f6;
//               transition: 0.2s all linear;
//               z-index: 2;
//               &:checked {
//                   background: #ffffff;
//                   border: 7px solid #1d1f26;
//               }
//               &::before {
//                   position: absolute;
//                   width: 47px;
//                   left: 50%;
//                   transform: translateX(-50%);
//                   top: -31px;
//                   font-weight: 500;
//                   font-size: 9px;
//                   line-height: 11px;
//                   text-align: center;
//                   letter-spacing: 0.06em;
//                   color: rgba(58, 62, 75, 0.45);
//               }
//           }
//           &:first-child {
//               input {
//                   &:nth-child(1) {
//                       &::before {
//                           content: 'to 50';
//                           left: -7px;
//                           text-align: left;
//                           transform: translateX(0);
//                       }
//                   }
//                   &:nth-child(2) {
//                       &::before {
//                           content: '50-150';
//                       }
//                   }
//                   &:nth-child(3) {
//                       &::before {
//                           content: '150-250';
//                       }
//                   }
//                   &:nth-child(4) {
//                       &::before {
//                           content: '250-400';
//                           left: auto;
//                           right: -15px;
//                           transform: translateX(0);
//                       }
//                   }
//               }
//           }
//           &:last-child {
//               input {
//                   &:nth-child(1) {
//                       &::before {
//                           content: '400-600';
//                           left: -7px;
//                           text-align: left;
//                           transform: translateX(0);
//                       }
//                   }
//                   &:nth-child(2) {
//                       &::before {
//                           content: '600-800';
//                       }
//                   }
//                   &:nth-child(3) {
//                       &::before {
//                           content: '800-1000';
//                       }
//                   }
//                   &:nth-child(4) {
//                       &::before {
//                           content: '1000+';
//                           left: auto;
//                           right: -15px;
//                           transform: translateX(0);
//                       }
//                   }
//               }
//           }
          
//       }
//   }

//   &__input-file {
//       margin-top: 54px;
//       position: relative;
//       align-items: center;
//       display: flex;
//       #file {
//           opacity: 0;
//           position: absolute;
//           z-index: -10;
//       }
//       label {
//           cursor: pointer;
//           width: 39px;
//           height: 39px;
//           background: #f7f7f6;
//           border-radius: 50%;
//           border: 1px solid rgba(58, 62, 75, 0.08);
//           position: relative;
//           transition: all .2s;
//           &::before,
//           &::after {
//               content: '';
//               position: absolute;
//               top: 50%;
//               left: 50%;
//               transform: translate(-50%, -50%);
//               background: $fourth_text_color;
//           }
//           &::before {
//               width: 9px;
//               height: 1px;
//           }
//           &::after {
//               width: 1px;
//               height: 9px;
//           }
//       }
//   }

//   .file-info {
//       margin-left: 12px;
//       height: 28px;
//       display: flex;
//       flex-direction: column;
//       justify-content: space-between;
//       &__title {
//           font-weight: 600;
//           font-size: 11px;
//           line-height: 13px;
//           letter-spacing: 0.06em;
//           color: $fourth_text_color;
//       }
//       &__subtitle {
//           font-weight: 500;
//           font-size: 9px;
//           line-height: 11px;
//           letter-spacing: 0.06em;
//           color: rgba(58, 62, 75, 0.45);
//       }
//   }

//   &__subtitle {
//       font-weight: 600;
//       font-size: 11px;
//       line-height: 13px;
//       letter-spacing: 0.06em;
//       color: $fourth_text_color;
//   }

//   &__disclaimer {
//       margin-top: 37px;
//       font-weight: 400;
//       font-size: 10px;
//       line-height: 14px;
//       text-align: center;
//       letter-spacing: 0.06em;
//       color: #afb0b2;
//   }

//   &__btn {
//       margin-top: 52px;
//       width: 183px;
//       height: 42px;
//       border: none;
//       font-weight: 600;
//       font-size: 11px;
//       line-height: 13px;
//       text-align: center;
//       letter-spacing: 0.06em;
//       color: $main_text_color;
//       background: $fourth_text_color;
//   }
// }

// .warning {
//   font-weight: 600;
//   font-size: 11px;
//   height: 12px;
//   padding-left: 5px;
// }

// @media (max-width: 1248px) {
//   .form {
//       &__container1,
//       &__container2 {
//           width: 706px;
//       }

//       &__container1 {
//           padding: 44px 52px;
//           &-wrapper {
//           }
//       }

//       &__container2 {
//           padding: 44px 29px 44px 52px;
//           &-wrapper {
//           }
//       }

//       &__subtitle {
//       }

//       &__btn {
//           margin: 52px auto 0;
//       }

//       &__disclaimer {
//           display: none;
//       }

//       &__input-file {
//           display: none;
//       }

//       .file-info {
//           display: none;
//           &__title {
//           }

//           &__subtitle {
//           }
//       }
//   }
// }
// @media (max-width: 900px) {
//   .form {
//       &__container1,
//       &__container2,
//       &__container3 {
//           width: 478px;
//       }

//       &__container1 {
//           padding: 44px 56px;
//           &-wrapper {
//           }
//       }

//       &__container2 {
//           padding: 44px 56px;
//           &-wrapper {
//           }
//           &-fieldset {
//               display: none;
//           }
//       }

//       &__container3 {
//           padding: 44px 56px;
//           &-wrapper {
//               display: flex;
//           }
//       }

//       &__subtitle {
//       }

//       &__btn {
//           margin: 36px auto 0;
//       }

//       &__disclaimer {
//           display: none;
//       }

//       &__input-file {
//           display: none;
//       }

//       .file-info {
//           display: none;
//           &__title {
//           }

//           &__subtitle {
//           }
//       }
//   }
// }
// @media (max-width: 525px) {
//   .form {
//       &__title {
//           display: none;
//       }
//       &__title2 {
//           display: block;
//       }
//       &__container1,
//       &__container2,
//       &__container3 {
//           width: 327px;
//       }

//       &__container1 {
//           padding: 40px 24px;
//           &-wrapper {
//           }
//       }

//       &__container2 {
//           padding: 40px 24px;
//       }

//       &__container3 {
//           padding: 40px 24px;
//           &-wrapper {
//               display: flex;
//           }
//       }

//       &__subtitle {
//       }

//       &__btn {
//           margin: 36px auto 0;
//       }

//       &__disclaimer {
//           display: none;
//       }

//       &__input-file {
//           display: none;
//       }

//       .file-info {
//           display: none;
//           &__title {
//           }

//           &__subtitle {
//           }
//       }
//   }
// }

// /* .form {
//       &__container1 {
//       }

//       &__title {
//       }

//       &__container1-wrapper {
//       }

//       &__container2 {
//       }

//       &__subtitle {
//       }

//       &__container2-wrapper {
//       }

//       &__input-file {
//       }

//       &__btn {
//       }

//       &__disclaimer {
//       }

//       .file-info {
//           &__title {
//           }

//           &__subtitle {
//           }
//       }
//   } */
//   .pop-up {
//     width: 1046px;
//     height: 803px;
//     background: #f2f2f2;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     &__hide {
//         display: none;
//     }
// }
// .backdoor {
//     width: 100vw;
//     height: 100vh;
//     z-index: 100;
//     position: sticky;
//     top: 0;
//     background-color: rgba(0, 0, 0, 0.96);
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     &__btn {
//         width: 16px;
//         height: 16px;
//         position: absolute;
//         z-index: 101;
//         top: 40px;
//         right: 40px;
//         cursor: pointer;
//         img {
//             vertical-align: top;
//         }
//     }
// }

// .modal {
//     &__wrapper {
//         background: $main_text_color;
//         width: 706px;
//         height: 405px;
//         display: none;
//         flex-direction: column;
//         align-items: center;
//         justify-content: center;
//         &__active {
//             display: flex;
//         }
//     }
//     &__title {
//         font-weight: 700;
//         font-size: 24px;
//         line-height: 29px;
//         text-align: center;
//         color: $fourth_text_color;
//     }
//     &__subtitle {
//         margin-top: 24px;
//         width: 448px;
//         font-weight: 300;
//         font-size: 14px;
//         line-height: 24px;
//         text-align: center;
//         color: $fourth_text_color;
//         opacity: 0.7;
//     }
//     &__btn {
//         margin-top: 40px;
//         width: 183px;
//         height: 42px;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         font-weight: 600;
//         font-size: 11px;
//         line-height: 13px;
//         letter-spacing: 0.06em;
//         color: $main_text_color;
//         background: #3a3e4b;
//         border: none;
//     }

// }

// @media (max-width: 1248px) {
//     .pop-up {
//         width: 808px;
//     }
//     .backdoor {
//         &__btn {
//             right: 20px;
//         }
//     }
// }
// @media (max-width: 900px) {
//     .pop-up {
//         width: 558px;
//         height: 1000px;
//     }
//     .backdoor {
//         overflow-y: scroll;
//         align-items: start;
//         &__btn {
//         }
//         &__centered {
//             align-items: center;
//         }
//     }
//     .modal {
//         &__wrapper {
//         }
//     }
// }
// @media (max-width: 768px) {
//     .modal {
//         &__wrapper {
//             width: 520px;
//             height: 294px;
//         }
//     }
// }
// @media (max-width: 675px) {
//     .pop-up {
//         background: none;
//     }
//     .backdoor {
//         &__btn {
//             top: 24px;
//             bottom: 24px;
//         }
//     }
// }
// @media (max-width: 624px) {
//     .pop-up {
//         background: none;
//         margin-top: 50px;
//     }
//     .backdoor {
//         &__btn {
//             top: 24px;
//             bottom: 24px;
//         }
//     }
//     .modal {
//         &__wrapper {
//             padding: 40px 24px;
//             margin: 0 24px;
//             width: auto;
//             height: auto;
//         }
//         &__subtitle {
//             width: auto;
//         }
//     }
// }
// @media (max-width: 525px) {
//     .pop-up {
//         background: none;
//     }
//     .backdoor {
//         &__btn {
//             top: 24px;
//             bottom: 24px;
//         }
//     }
// }
// @media (max-width: 425px) {
//     .pop-up {
//         background: none;
//     }
//     .backdoor {
//         &__btn {
//             top: 24px;
//             bottom: 24px;
//         }
//     }
// }
// @media (max-width: 375px) {
//     .pop-up {
//         background: none;
//     }
//     .backdoor {
//         &__btn {
//             top: 24px;
//             bottom: 24px;
//         }
//     }
// }
// .wave-group {
//   position: relative;
// }

// .wave-group .input {
//   padding: 10px 10px 10px 5px;
//   display: block;
//   width: 312px;
//   border: none;
//   border-bottom: 1px solid rgba(214, 214, 214, 0.3);
//   background: transparent;
//   font-weight: 500;
//   font-size: 11px;
//   line-height: 13px;
//   letter-spacing: 0.06em;
//   &__wider {
//       width: 660px;
//   }
// }

// .wave-group .input:focus {
//   outline: none;
// }

// .wave-group .label {
//   color: $fourth_text_color;
//   font-weight: 500;
//   font-size: 11px;
//   line-height: 13px;
//   letter-spacing: 0.06em;
//   position: absolute;
//   pointer-events: none;
//   left: 5px;
//   top: 10px;
//   display: flex;
// }

// .wave-group .label-char {
//   transition: 0.2s ease all;
//   transition-delay: calc(var(--index) * 0.05s);
// }

// .wave-group .input:focus ~ label .label-char,
// .wave-group .input:valid ~ label .label-char {
//   transform: translateY(-20px);
//   font-size: 13px;
//   color: #5264ae;
// }

// .input__comment {
//   &:valid ~ label .label-char {
//       transform: none !important;
//       font-size: 11px !important;
//       color: $fourth_text_color !important;
//   }
//   &:focus ~ label .label-char {
//       transform: translateY(-20px) !important;
//       font-size: 13px !important;
//       color: #5264ae !important;
//   }
// }

// .input__invalid {
//   &:invalid ~ .label .label-char {
//       transform: translateY(-20px);
//       font-size: 13px;
//       color: #ae5252 !important;
//   }
// }

// .wave-group .bar {
//   position: relative;
//   display: block;
//   width: 312px;
//   &__wider {
//       width: 660px;
//   }
// }

// .wave-group .bar:before,
// .wave-group .bar:after {
//   content: '';
//   height: 2px;
//   width: 0;
//   bottom: 1px;
//   position: absolute;
//   background: #5264ae;
//   transition: 0.2s ease all;
//   -moz-transition: 0.2s ease all;
//   -webkit-transition: 0.2s ease all;
// }

// .wave-group .bar:before {
//   left: 50%;
// }

// .wave-group .bar:after {
//   right: 50%;
// }

// .wave-group .input:focus ~ .bar:before,
// .wave-group .input:focus ~ .bar:after {
//   width: 50%;
// }

// @media (max-width: 1248px) {
//   .wave-group .input {
//       width: 285px;
//       &__wider {
//           width: 602px;
//       }
//   }
//   .wave-group .bar {
//       width: 285px;
//       &__wider {
//           width: 602px;
//       }
//   }
// }
// @media (max-width: 900px) {
//   .wave-group .input {
//       width: 366px;
//       &__wider {
//           width: 366px;
//       }
//   }
//   .wave-group .bar {
//       width: 366px;
//       &__wider {
//           width: 366px;
//       }
//   }
// }
// @media (max-width: 675px) {
//   .wave-group .input {
//       width: 279px;
//       &__wider {
//           width: 279px;
//       }
//   }
//   .wave-group .bar {
//       width: 279px;
//       &__wider {
//           width: 279px;
//       }
//   }
// }
// $main_text_color: #fff;
// $second_text_color: #000;
// $third_text_color: #828282;
// $fourth_text_color: #3A3E4B;