.conteiner {
  width: 100%;
  padding: 44px 8.75%;
  @media (max-width: 1024px) {
    padding: 44px 6.44%;
  }
  @media (max-width: 768px) {
    padding: 44px 10.04%;
  }
  @media (max-width: 587px) {
    padding: 40px 6.4%;
  }
}

.popup {
  //  display: none; //!!!!
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(8, 8, 8, 0.96);
  top: 0;
  left: 0;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 51;
  visibility: hidden;
  opacity: 0;
  transition: all 0.8s ease 0s;

  &.open {
    visibility: visible;
    opacity: 1;
    .popup__body {
      opacity: 1;
      transition: all 0.8s ease 0s;
      transform: perspective(600px) translate(0px, 0px) rotateX(0deg);
    }
  }

  &__body {
    // width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 1.25%;
    font-weight: 600;
    font-size: 11px;
    line-height: 118.18%;
    letter-spacing: 0.06em;
    color: #313131;
    opacity: 0;
    transition: all 0.8s ease 0s;
    transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
    @media (max-width: 1024px) {
      padding: 0 0 1.46%;
    }
    @media (max-width: 768px) {
      padding: 46px 0;
    }
    @media (max-width: 587px) {
      padding: 64px 0;
    }
  }

  &__content {
    width: 72.64%;
    min-width: min-content;
    height: 100%;
    padding: 3.89% 8.54%;
    background: #f2f2f2;
    box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.04);
    @media (max-width: 1024px) {
      width: 78.91%;
      padding: 3.125% 4.98%;
    }
    @media (max-width: 768px) {
      width: 72.65625%;
      padding: 3.125% 5.21%;
    }
    @media (max-width: 587px) {
      width: 87.2%;
      padding: 0;
      background: rgba(8, 8, 8, 0.96);
    }
  }

  &__first-box {
    width: 100%;
    margin: 0 0 6px;
    border: 1px solid rgba(0, 0, 0, 0.04);
    background: #ffffff;
  }

  &__first-conteiner {
    h3 {
      width: max-content;
      margin: 0 auto 38px;
    }
    @media (max-width: 587px) {
      margin: -16px auto 38px;
    }
  }

  &__personal-data {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
    gap: 38px 4.5%;
    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }
    label {
      height: 23px;
      padding-bottom: 11px;
      border-bottom: 1px solid rgba(214, 214, 214, 0.3);

      display: grid;
      grid-template: 1fr / auto 1fr;
      gap: 10px;
      input {
        font-size: 11px;
      }
    }
  }

  &__name {
    &._error {
      border-bottom: solid 1px red;
    }
  }

  &__last-name {
    &._error {
    border-bottom: solid 1px red;
  }
}

  &__phone {
    &._error {
      border-bottom: solid 1px red;
    }
  }

  &__city {
    &._error {
      border-bottom: solid 1px red;
    }
  }

  &__email {
    &._error {
      border-bottom: solid 1px red;
    }
  }

  &__select-type {
    &._error {
      border-bottom: solid 1px red;
    }
  }

  &__select-option {
    font-size: 11px;
  }

  &__user-comment {
    grid-column: 1/3;
    display: grid;
    @media (max-width: 768px) {
      grid-column: 1/2;
    }
    textarea {
      height: 15px;
      resize: none;
      
    }
  }

  &__second-box {
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.04);
  }

  &__name-group-area {
    margin: 0 0 22px 0;
  }

  &__group-area {
    width: 100%;
    margin: 0 0 21px 0;
    display: grid;
    grid-template: auto/ repeat(7, 1fr) auto;
    @media (max-width: 768px) {
      grid-template: repeat(2, auto) / repeat(3, 1fr) 17px;
      row-gap: 30px;
    }
  }

  &__label {
    width: auto;
    height: 20px;
    grid-column: 1/3;
    justify-self: start;
    align-self: center;
    p {
      //margin: 0 0 0 -50%;
      left: calc(-50% + 6.5px);
      position: relative;

      @media (max-width: 1024px) {
        font-size: 9px;
      }
    }
  }

  &__option-item {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template: 1fr auto / auto 1fr;
    &:nth-child(8) .popup__line {
      display: none;
    }
    &:nth-child(1) .popup__label {
      p {
        position: static;
      }
    }

    &:nth-child(4) .popup__line {
      @media (max-width: 768px) {
        display: none;
      }
    }
    &:nth-child(4) .popup__label {
      @media (max-width: 768px) {
        margin-left: -10px;
        width: 48px;
      }
    }
    &:nth-child(5) .popup__label {
      p {
        @media (max-width: 768px) {
          position: static;
        }
      }
    }
  }

  &__radio-area {
    appearance: none;

    border-radius: 50%;
    width: 18px;
    height: 18px;
    background: #afb0b2;

    border: 7px solid #f7f7f6;
    transition: 0.2s all linear;

    box-shadow: inset 0px 0px 1px #ffffff;
    &:checked {
      background: #ffffff;

      border: 7px solid #1d1f26;
      transition: 0.2s all linear;

      box-shadow: 0px 0px 1px #ffffff, 0px 0 8px rgba(0, 0, 0, 0.06);
    }
  }

  &__line {
    width: 100%;
    height: 1px;
    border: 1px solid rgba(214, 214, 214, 0.3);
    justify-self: center;
    align-self: center;
  }

  &__group-photo {
    width: 100%;
    display: grid;
    grid-template: repeat(2, auto) / auto 1fr;
    row-gap: 10px;
    @media (max-width: 768px) {
      grid-template: repeat(3, auto) / 1fr;
    }
  }

  &__add-photo {
    display: flex;
    grid-column: 1/3;
    &._error {
      width: 50%;
      border-bottom: solid 1px red;
      @media (max-width: 768px) {
        width: 100%;
      }
    }
    input {
      width: 0;
      opacity: 0;
    }
    @media (max-width: 768px) {
      grid-column: 1/2;
    }
  }

  &__preview {
    li {
      height: 20px;
      display: flex;
      align-items: center;
      gap: 10px;
    }
    img {
      height: 100%;
    }
  }

  &__item-photo {
    align-self: center;
    display: flex;
    align-items: center;
    label {
      cursor: pointer;
    }
    @media (max-width: 768px) {
      justify-self: center;
    }
  }

  &__img-add-photo {
    position: relative;
    border-radius: 50%;
    width: 39px;
    height: 39px;
    background: #f7f7f6;
    border: 1px dashed rgba(58, 62, 75, 0.08);
    transition: 0.2s all linear;

    &::before {
      content: "";
      background-color: #3a3e4b;
      position: absolute;
      width: 9px;
      height: 1px;
      left: calc(50% - 4.5px);
      top: 50%;
    }
    &::after {
      content: "";
      background-color: #3a3e4b;
      position: absolute;
      width: 9px;
      height: 1px;
      left: calc(50% - 4.5px);
      top: 50%;
      transform: rotate(90deg);
    }
  }

  &__coment-photo {
    margin: 0 0 0 12px;
    p {
      &:nth-child(1) {
        font-weight: 600;
        font-size: 11px;
        line-height: 13px;
        letter-spacing: 0.06em;
        color: #3a3e4b;
      }
      &:nth-child(2) {
        font-weight: 500;
        font-size: 9px;
        line-height: 11px;
        letter-spacing: 0.06em;
        color: rgba(58, 62, 75, 0.45);
      }
    }
  }


  &__buttom {
    margin-top: 5px;
    justify-self: right;
    text-align: center;
    justify-content: center;
    letter-spacing: 0.06em;
    @include button(#3a3e4b, #ffffff, 0);
    @media (max-width: 768px) {
      justify-self: center;
    }
  }

  &__text {
    margin-top: 37px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 140%;
    text-align: center;
    letter-spacing: 0.06em;
    color: #afb0b2;

    @media (max-width: 1024px) {
      display: none;
    }
  }

  &__criss-cross {
    top: 40px;
    right: 40px;
    position: absolute;
    color: #ffffff;
    cursor: pointer;
    @media (max-width: 587px) {
      top: 24px;
      right: 24px;
    }
  }
}
@media (max-width: 330px){
  .conteiner {
      padding: 30px 5px;
    }
  }
  

